body{
    background-color: whitesmoke;
    color: #333;

}

h{
    color: #333;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 18px;
    margin-bottom: 30px;
}

h3{
    font-family: "Cherry Swash";
}

img{
    width: 200px;
    padding: 0px, 40px;
    margin-bottom: 20px;
}

a{
    font-size: 16px;
    font-weight: bold;
    color:midnightblue;
}

a:hover{
    color: skyblue;
}

#header{
    
    color: #333;
    font-family: "Cherry Swash";
    padding: 20px 15%;
    border-bottom: 3px solid lightblue;
}

#parent{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#content{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#containerDiv{
    display: grid;
    grid-template-columns: 1fr minmax(150px, 25%) ;
}

#containerWorkDiv{

    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#descriptionDiv{
    padding-top: 20px;
}

#sidebarDiv{
    padding: 20px;
    border-left: 3px solid lightblue;
}

#containerProjectDiv {
    padding-top: 20px;
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

.visual {
    height: 100px;
    width: 100%;
    background-color: teal;
    border-radius: 25px;
    border: 3px solid lightblue;
  }

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 25px;
    border: 3px solid lightblue;
  }

.card:hover{
    background-color: lightblue;
}

.workClass{
    flex: 1 1 250px; 
    margin: 5px;
    border-radius: 25px;
    border: 3px solid lightblue;
    padding: 5px;
}

.menu{

    color: #333333;
    font-size: 16px;
    font-weight: bold;
    background-color: lightblue;
    border: 5px solid lightblue;
    border-radius: 25px;
    
}

.menu:hover{
    background-color: skyblue;
    border: 5px solid skyblue;
}
